[
  {
  	"ParameterKey": "KeyName",
  	"ParameterValue": "DemoKey"
  },
  {
    "ParameterKey": "UserARN",
    "ParameterValue": "arn:aws:iam::{{ aws_user_number_id }}:role/aws-service-role/autoscaling.amazonaws.com/AWSServiceRoleForAutoScaling,arn:aws:iam::{{ aws_user_number_id }}:role/NginxS3PutLambdaRole,arn:aws:iam::{{ aws_user_number_id }}:role/aws-service-role/imagebuilder.amazonaws.com/AWSServiceRoleForImageBuilder,arn:aws:iam::{{ aws_user_number_id }}:role/EC2InstanceRole,arn:aws:iam::{{ aws_user_number_id }}:role/EC2ImageBuilderRole,arn:aws:iam::{{ aws_user_number_id }}:root"
  }
]
